<html>
  <head>
    <title>Maillage</title>
    <script language="javascript" type="text/javascript" src="/jquery-1.4.3.min.js"></script>
    <link href="/style.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="corps">
      <%= yield %>
    </div>
  </body>
</html>